<!DOCTYPE html>
<html lang="en">
<head>
    <title>用户登录</title>
    <style type="text/css">
        body{
            background:#fff url(/static/login/images/movie4.jpg) no-repeat left top;
            background-size:100%;
        }
    </style>
    <link rel="stylesheet" href="../static/login/css/login.css">
    <link rel="stylesheet" href="../static/layui/layui/layui/css/layui.css">


    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/layui/layui/layui/layui.js"></script>
</head>

<body>
<div class="layadmin-user-login" id="LAY-user-login">
    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>电子商务</h2>
            <p>电商后台管理平台</p>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon" for="LAY-user-login-username">&#xe770;</label>
                <input type="text" name="userName" id="LAY-user-login-username" lay-verType="tips" lay-verify="required" placeholder="用户名" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon" for="LAY-user-login-password">&#xe688;</label>
                <input type="password" name="password" id="LAY-user-login-password" lay-verType="tips" lay-verify="required" placeholder="密码" class="layui-input">
            </div>
           <!-- <div class="layui-form-item">
                <div class="layui-row">
                    <div class="layui-col-xs7">
                        <label class="layadmin-user-login-icon layui-icon" for="LAY-user-login-vercode">&#xe672;</label>
                        <input type="text" name="vercode" id="LAY-user-login-vercode" lay-verType="tips" lay-verify="required" placeholder="图形验证码" class="layui-input">
                    </div>
                    <div class="layui-col-xs5">
                        <div style="margin-left: 10px;">
                            <img src="" class="layadmin-user-login-codeimg" id="LAY-user-get-vercode">
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">登 录</button>
            </div>
        </div>
    </div>

    <div class="layui-trans layadmin-user-login-footer">
        <p>Copyright © 2018 </p>
        <p><a href="javascript:;">FH_EDUCATION</a> All Rights Reserved.</p>
    </div>
</div>
<script type="text/javascript">
    layui.use('form',function () {
        var form=layui.form;

        form.on('submit(LAY-user-login-submit)', function(obj) {
            //obj.field.codeKey = codeKey;
            layer.load(1);
            $.post("/login/doLogin ", obj.field, function(result) {
                if (result.code == 200) {
                    layer.msg(result.msg);
                    setTimeout(function() {
                        location.replace("/main/toMain");
                    }, 1000);
                    sessionStorage.setItem("userName",result.data.realName);
                    sessionStorage.setItem("img",result.data.imgUrl);
                    sessionStorage.setItem("id",result.data.id);
                }else {
                    window.history.go(0);
                    layer.msg(result.msg,{icon: 2});
                }
            }, "json");
        });
    })

</script>
</body>

</html>